{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "max-len": [
      1,
      140,
      2
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false,
        "packageDir": "./"
      }
    ],
    "import/extensions": [
      ".js",
      ".jsx"
    ]
  }
}